.about-section{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    max-width: 1960px;
    min-height: 70vh;
    overflow: hidden;
    padding: 20px;
   
    /* background-image: linear-gradient(80deg,#0066ffb7 ,#01070f 50%);  */
}
.about-image{
    flex-basis: 50%;
    margin-top: 20px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2,1fr);
    grid-auto-rows: 300px;
}
.about-content{
    flex-basis: 30%;
}
.about-content h1{
    font-size: 50px;
    font-weight: 800;
}
.about-content p{
    font-size: 19px;
    font-weight: 500;
}
.about-content button{
    width: 176px;
    height: 55px;
    margin-top: 18px;
    border-radius: 8px;
    text-align: center;
    border: white;
    background-color:#0066FF;
    color: white;
    font-weight: bold;
    font-size: 16px;
}
.image1{
    position: relative;
    top: 70px;
    left: 90px;
    background-image: url(../../assets/1617.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
    border-radius: 10px;
}

.image2{
    position: relative;
    top: 120px;
    left: 30px;
    height: 400px;
    background-image: url(../../assets/1140.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 2;
    border-radius: 10px;
    
}
.image3{
    position: relative;
    top: 10px;
    left: 150px;
    background-image: url(../../assets/4758.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  z-index: 3;
  border-radius: 10px;
}