@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

*{
    margin: 0px;
    font-family:"Quicksand", sans-serif;
}
.landing{
  background-image: linear-gradient(105deg,#01070f 50%,#0066ffb7); 
    height: 688px;
}
.aboutus{
    /* background-image: linear-gradient(75deg,#01070f 50%,#0066ffb7);  */
    background-image: linear-gradient(78deg,#0066ffb7 ,#01070f 50%); 
    color: white;
}